* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

img, h1, ul, a {
    display: inline-block;
}

img {
    float: left;
}

h1 {
    margin-top: 20px;
    font-size: 24px;
}

ul {
    list-style-type: none;
    float: right;
    margin-top: 26px;
}

li:hover {
    color: #5F4B90;
}

a {
    text-decoration: none;
}

li {
    width: 120px;
    text-align: center;
    color: black;
}

#header {
    border-bottom: 1px solid  black;
}

#banner {
    text-align: center;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
    margin-bottom: 12px;
}

#banner p {
    padding-top: 260px;
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 20px;
}

#banner h2 {
    text-transform: uppercase;
    font-size: 36px;
    margin: 0;
    margin-bottom: 16px;
}

#banner button {
    margin: 0;
    background-color: white;
    padding: 14px 32px;
    border-style: none;
    border-radius: 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

#banner button:hover {
    background-color: #5F4B90;
    color: white;
}

#imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#imagens .imagem {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 255px;
    width: 375px;
    margin: 12px;
    background-color: yellowgreen;
}

#imagens .imagem button {
    height: 36px;
    margin-bottom: 12px;
}
#imagem1 {
    background-image: url("../img/product-1.png");
    background-size: cover;
}

#imagem2 {
    background-image: url("../img/product-2.jpg");
    background-size: cover;
}

#imagem3 {
    background-image: url("../img/product-3.jpg");
    background-size: cover;
}

#imagem4 {
    background-image: url("../img/product-4.jpg");
    background-size: cover;
}

#imagem5 {
    background-image: url("../img/product-5.jpg");
    background-size: cover;
}

#imagem6 {
    background-image: url("../img/product-6.jpg");
    background-size: cover;
}